{{>partial_header}}
package {{package}};

import com.kucoin.universal.sdk.model.UnifiedWsArgs;
import com.kucoin.universal.sdk.model.UnifiedWsMessage;

import java.util.concurrent.CompletableFuture;

public interface {{classname}} {
{{#operations}}
    {{#operation}}
    /**
    * {{summary}}
    *
    * <p>{{notes}}
    *
    * @return A CompletableFuture that completes with the response of the request when the operation is successful
    * @see <a href="{{vendorExtensions.x-api-doc}}">docs</a>
    */
    CompletableFuture<UnifiedWsMessage> {{vendorExtensions.x-meta.method}}(UnifiedWsArgs args);

    {{/operation}}
{{/operations}}

    /**
    * Initiates the WebSocket service
    *
    * <p>This method must be called before invoke any apis.
    */
    void start();

    /**
    * Stops the WebSocket service.
    *
    * <p>This method is used to terminate the WebSocket connection and stop all ongoing
    * calls. It should be called when no further communication is needed with
    * the server, or when the application is being shut down to ensure a clean
    * disconnection and release of resources.
    */
    void stop();
}